

body {
         font-family: Arial, sans-serif;
        background-image: url("img/contact.gif");
        background-attachment: fixed; /* Hiermee wordt de achtergrondafbeelding vastgezet */
        text-align: center;
        background-repeat: no-repeat;
        color: white;
        background-size: cover;
        justify-content: center;
  }
 
 /*stijl voor de table */
 table {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    background-color: transparent; /* Dit zorgt ervoor dat de achtergrondkleur van de tabel transparant is */
}

img[src] {
    height: 100px;
}